.document-card{
    background-color: white;
    width: 400px;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.document-card h3 {
    color: #0a66c2;
}
.document-card p {
    color: #555;
}