/* TABLE CARD */
            #eventTable {
                width: 100%;
                background-color: white;
                border-collapse: collapse;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
            }
            #eventTable th {
                background-color: #0a66c2;
                color: white;
                padding: 15px 12px;
                text-align: left;
                font-size: 15px;
                white-space: nowrap;
            }


            #eventTable td {
                padding: 15px 12px;
                border-bottom: 1px solid #eee;
                font-size: 14px;
                color: #333;
                white-space: nowrap;
            }

            #eventTable tbody tr:hover {
                background-color: #f7faff;
            }